
.title {
    background: 0 0;
    border: 0;
    margin-bottom: 20px;
    padding: 0;
    vertical-align: baseline;
    outline: none;
    font-size: 28px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    position: relative;

}
.title ::before{
    position: absolute;
    content:'';
    background: grey;
    width:50px;
    height: 1px;
    bottom: -15px;
    left:50%;
    transform: translate(-50%,50%);
}
.title h2 {
    color: #202020;
    font-family: Oswald,sans-serif;
    font-weight: 500;
    line-height: 1.2;
    margin: 0;





}