@import "src/common/styles/sass/variables";

.burgerNav {
  width: 100%;
  height: 100%;

  .burgerNavItems {

    position: absolute;
    right: 0px;
    left:0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transform: translate(0,-150px);
    transition: 0.7s;
    height: 0;
    background-color: $backgroundIcons;

    a {
      text-decoration: none;
      color: $textColor;
      font-size: 20px;
      scroll-behavior: smooth;

      &:hover {
        cursor: pointer;
        color: $backgroundIcons;
      }
    }

  }
  .show{
    transform: translate(0,0);
    height: 150px;
  }
.burgerButton{
  background-color: #025fff;
  width: 30px;
  height: 30px;
  position: absolute;
  top:10px;
  right:20px;
}
  @media screen and (min-width: 375px) {
    display: none;
    //flex-direction: column;
    //flex-wrap: wrap;
    //justify-content: flex-start;
    //align-content: center;
  }
}

