@import "src/common/styles/sass/variables";
.skills_wrapper {
    min-height: 100vh;

    .skills_container {
        flex-direction: column;
        justify-content: flex-start;
        .skills {
            border: 1px solid;
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top:45px;
            @media screen and (max-width: 1129px) {
                justify-content: center;}

        }
    }
}


/*
.Title {
    font-size: 28px;
    font-weight: 800;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}*/

