@import "src/common/styles/sass/variables";
.skills_wrapper {
  min-height: 800px;
  display: flex;
  align-items: center;
  padding: 30px;

  .skills_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    .skills {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 85px;
      @media screen and (max-width: 1129px) {
        justify-content: center;
      }
    }
  }
}

/*
.Title {
    font-size: 28px;
    font-weight: 800;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}*/
