@import "src/common/styles/sass/variables";
@import 'src/common/styles/sass/mixins';

* {
  box-sizing: border-box;
}

.mainContainer {
  min-height: 100vh;
  background-color: $bgcolor1;
  display: flex;

  .container {

    justify-content: space-between;
    align-self: center;
    @media screen and (max-width: 1129px) {
      justify-content: center;
    }


    .introduce  {
      @include text($TitleFontFamily, 42px, 40px, #D9D9D9);
      width: 550px;

      display: flex;
      justify-content: flex-start;
      align-self: center;
      flex-wrap: wrap;
      font-weight: 600;



      .gradient {
        background: #1BB1CF;
        background: linear-gradient(to right, #1BB1CF 13%, #CF1512 68%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        height: 45px;

      }
      & p{
        margin:7.5px;
      }
    }

    .foto {

      & img{
        width: 300px;
        height: 300px;
        border-radius: 50%;
      }
    }
  }
}


/*

.job {
    font-size: 28px;
    font-weight: 800;
    text-transform: uppercase;

}

.stek {

    font-family: poppins;
    font-weight: 500;
}*/
