@import "src/common/styles/sass/variables";

.nav {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-content: stretch;

  & a {
    text-decoration: none;
    color: #cccccc;
    scroll-behavior: smooth;
  }
  :hover {
    color: #6b6bcb;
  }
}

.nav_link {
}
