@import "src/common/styles/sass/variables";

.nav {
  width: 350px;
  margin-right: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
    font-family: $TitleFontFamily;
    font-weight: 400;
    line-height: 20px;
    color: $textColor;
    font-size: 22px;
    scroll-behavior: smooth;


    &:hover {
      cursor: pointer;
      color: $backgroundIcons;
    }
  }


  @media screen and (max-width: 376px) {
    display: none;



  }
}

