@import "src/common/styles/sass/variables";
.footer_wrapper {
  height: 80px;
  display: flex;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;

    .items {
      min-width: 275px;
      max-width: 450px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;

      .icon {
        height: 40px;
        width: 40px;
        color:$backgroundIcons;
      }
      .round {
        border-radius: 50%;
      }
    }
  }
}
