.footer_wrapper {
    height: 80px;
    background-color: #daaff6;
}

.container {
    display: flex;
    justify-content: center;
}

.items {
    min-width: 275px;
    max-width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
}

.icon {
    height: 40px;
    width: 40px;
    background-color: #b3e8f8;
}