* {
    box-sizing: border-box;
}

.projects_wrapper {
    background-color: rgba(190, 198, 199, 0.83);
    min-height: 100vh;
}

.projects_container {
    flex-direction: column;
    justify-content: flex-start;
}


.projects {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;

}

@media screen and (max-width: 1129px) {
    .projects {
        justify-content: center;
    }
}