@import "src/common/styles/sass/variables";

* {
  box-sizing: border-box;
}

.projects_wrapper {
  background-color: $bgcolor1;
  min-height: 100vh;

  .projects_container {

    flex-direction: column;
    justify-content: flex-start;

    .projects {

      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-start;
      margin-top: 45px;

      @media screen and (max-width: 1129px) {
        justify-content: center;

      }
    }
  }
}




